*.class
*.cache
.idea
dict.txt
*.csv
*.zip
.idea/.name
input_file
output/
project/project/
project/target/config-classes/
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
src/main/resources/
src/main/scala-2.12/
src/main/scala/
src/test/resources/
src/test/scala-2.12/
src/test/scala/
target/scala-2.12/classes/
target/scala-2.12/resource_managed/
target/scala-2.12/src_managed/
target/scala-2.12/test-classes/
