*.class
*.cache
.idea
dict.txt
*.csv
*.zip
.idea/
input_file
output/
project/
src/main/resources/
src/main/scala-2.12/
src/main/scala/
src/test/resources/
src/test/scala-2.12/
src/test/scala/
target/
ziped_files/
